.wrapper {
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  //background: #70a7cf;
  background: linear-gradient(45deg, #1bdaf2, #e77be7);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}



.input {
  font-size: 18px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 15px;
  height: 30px;
  padding-left: 15px;
  //background-color: inherit;
}
.clear {
  position: absolute;
  right: 33px;
  background-color: inherit;
  border: none;
  padding: 7px;
}
.submit {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: #ffffff;
  border-radius: 17px;
  position: absolute;
  right: -2px;
  top: -2px;
  border: 2px solid #70a7cf;
}

.h2 {
  margin: 0;
  color: #ffffff;
}

.form {
  display: flex;
  position: relative;
}

.card {
  background-color: #faf7f7;
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  &_member {
    margin: 0px;
    font-size: 20px;
  }
  &_text {
    margin: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.chat {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.users {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.users.card {
  border-radius: 0px;
}
