<div class="container">
  <header class="header wrapper">
    <h2 class="h2">ChatApp</h2>
    <form  [formGroup]="searchForm" (ngSubmit)="submit()" class="form">
      <input formControlName="number" type="text" class="input" placeholder="Search">
      <button class="submit" type="submit"><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 15L21 21" stroke="#70a7cf" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#70a7cf" stroke-width="2"/>
        </svg></button>
      <button class="clear" (click)="clearForm()">X</button>
    </form>
  </header>
  <div class="chat" *ngIf="!service.search.length">
    <div class="card" *ngFor="let chat of service.chats" [routerLink]="['/chats', chat.member.id]">
<!--      <div class="link" [routerLink]="['/chats', chat.member.id]">-->
        <h5 class="card_member">
          {{chat.member.firstname + ' ' + chat.member.lastname}}
        </h5>
        <p  class="card_text">{{chat.messages[chat.messages.length - 1].text}}</p>
<!--      </div>-->
    </div>
  </div>
  <div class="chat" *ngIf="service.search.length">
    <div class="card" *ngFor="let user of service.search" [routerLink]="['/chats', user.id]">
      <h5 class="card_member">{{user.firstname + ' ' + user.lastname}}</h5>
      <p  class="card_text">{{"+"+user.number}}</p>
    </div>
  </div>
</div>
